# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# =========================
# Project output
# =========================
output/

# =========================
# Large datasets
# =========================
i-80-vehicle-trajectory-data/
i-80-vehicle-trajectory-data.zip
*.csv


# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log